<%- include("_header") -%>

<h1>Are you sure you want to delete <%= model.cusfname %>'s record?</h1>

<form action="/delete/<%= model.cusid %>" method="post">
  <div class="form-horizontal">

    <%- include("_display") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Delete" class="btn btn-default btn-danger" />
        <a class="btn btn-outline-dark cancel" href="/manage">Cancel</a>
      </div>
    </div>
  </div>
</form>

<% if(type === "POST") { %>
  <% if (result === 1) { %>
    <h1>Customer Deleted Successfully!</h1>
    <% } else { %>
      <h1>Error Deleting Customer </h1>
      <h4><%= result %></h4>
    <% } %>
<% } %>

<%- include("_footer") -%>


<%- include("_footer") -%>
