<%- include("_header") -%>

<h1> Import Books </h1>

<label for ="databasefile">Total number of books in the database: <b><%= totRecs %></b> </label>
<br>
<label for="databasefile">Select a file with books  for Database Insert</label>
<br>
<form action="/import" method="post" enctype="multipart/form-data" onsubmit="return makeWait()">
<input type="file" id="databasefile" name="databasefile" accept="text/plain" required>
<input type="submit" value="Submit" />
</form>
<div id="id"></div>
<script>
       function makeWait() {
              var d1 = document.getElementById('id');
              d1.insertAdjacentHTML('afterend', '<h1 id="id1">Wait for Results</h1>');
       }
</script>

<% if (type === "post") { %>
<h1>Import Summary</h1>
<p>Initial number of books in the database:  <%= totRecs %></p>
<p>Books inserted successfully: <%= inserted %></p>
<p>Resulting number of books in the database:</p>
<h2>Error Summary</h2>
<p>Total book records processed: <%= processed %></p>
<p>Total book records not inserted: <b><%= notInserted %></b></p>

<% if (notInserted > 0) { %>
       <h4>Errors: </h4>
       <pre><p><%= errorMessage %></p></pre>
<% } %>


<% } %>

<%- include("_footer") -%>   