<%- include("_header") -%>

<h2> Find Customers </h2>
<h3> Total number of database records:<%= totRecs %> </h3>
<!-- Not using bootstrap, just a simple form that you may enhance -->
<form action="/" method="POST">
    <table>
        <tr>
            <td><label for="cusId">ID</label>:</td>
            <td><input type="number" name="cusId" id="cusId" value="<%= customer.cusId %>" /></td>
            <td>(equal)</td>
        </tr>
        <tr>
            <td><label for="cusFname">First Name</label>:</td>
            <td><input type="text" name="cusFname" id="cusFname" value="<%= customer.cusFname %>" /></td>
            <td>(starts with)</td>
        </tr>
        <tr>
            <td><label for="cusLname">Last Name</label>:</td>
            <td><input type="text" name="cusLname" id="cusLname" value="<%= customer.cusLname %>" /></td>
            <td>(starts with)</td>
        </tr>
        <tr>
            <td><label for="cusState">State</label>:</td>
            <td><input type="number" name="cusState" id="cusState" value="<%= customer.cusState %>" /></td>
            <td>(less than or equal to)</td>
        </tr>
        <tr>
            <td><label for="cusSalesYTD">Sales YTD</label>:</td>
            <td><input type="number" name="cusSalesYTD" id="cusSalesYTD" value="<%= customer.cusSalesYTD %>" /></td>
            <td>(less than or equal to)</td>
        </tr>
        <tr>
            <td><label for="cusSalesPrev">Previous Years Sales</label>:</td>
            <td><input type="number" name="cusSalesPrev" id="cusSalesPrev" value="<%= customer.cusSalesPrev %>" /></td>
            <td>(less than or equal to)</td>
        </tr>
        <tr>
            <td span="2">
                <input type="submit" value="Find" />
                <input type="reset" value="Reset" />
            </td>
        </tr>
    </table>
</form>

<!-- Omitted Error Checking / Needs to be added -->
<% if (type === "post") { %>
    <% if (result.result.length === 0) { %>
        <h3>No records found!</h3>
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Mileage</th>
                </tr>
            </thead>
            <tbody>
                <% Array.from(result.result).forEach(customer => { %> 
                    <tr>
                        <td><%= customer.cusId %></td>
                        <td><%= customer.cusFname %></td>
                        <td><%= customer.cusLname %></td>
                        <td><%= customer.cusState %></td>
                        <td><%= customer.cusSalesYTD %></td>
                        <td><%= customer.cusSalesPrev %></td>
                    </tr>
                <% }); %>
            </tbody>

        </table>
    <% } %>
<% } %>

<%- include("_footer") -%>   