<%- include("_header") -%>

<h2> Find Book </h2>
<h3> Total number of database records:<%= totRecs %> </h3>
<!-- Not using bootstrap, just a simple form that you may enhance -->
<form action="/manage" method="POST">
    <table>
        <tr>
            <td><label for="book_id">ID</label>:</td>
            <td><input type="number" name="book_id" id="book_id" value="<%= book.book_id %>" /></td>
            <td>(equals)</td>
        </tr>
        <tr>
            <td><label for="title">Title</label>:</td>
            <td><input type="text" name="title" id="title" value="<%= book.title %>" /></td>
            <td>(begins with)</td>
        </tr>
        <tr>
            <td><label for="total_pages">Total Pages</label>:</td>
            <td><input type="number" name="total_pages" id="total_pages" value="<%= book.total_pages %>" /></td>
            <td>(greater than or equal to)</td>
        </tr>
        <tr>
            <td><label for="rating">Rating</label>:</td>
            <td><input type="number" name="rating" id="rating" value="<%= book.rating %>" /></td>
            <td>(greater than or equal to)</td>
        </tr>
        <tr>
            <td><label for="isbn">ISBN</label>:</td>
            <td><input type="number" name="isbn" id="isbn" value="<%= book.isbn %>" /></td>
            <td>(equals)</td>
        </tr>
        <tr>
            <td><label for="published_date">Date Published</label>:</td>
            <td><input type="date" name="published_date" id="published_date" value="<%= book.published_date %>" /></td>
            <td>(equals)</td>
        </tr>
        <tr>
            <td span="2">
                <input type="submit" value="Find" />
                <input type="reset" value="Reset" />
            </td>
        </tr>
    </table>
</form>

<!-- Omitted Error Checking / Needs to be added -->
<% if (type === "post") { %>
    <% if (result.result.length === 0) { %>
        <h3>No records found!</h3>
    <% } else { %>
        <h4>Number of Records Found: <%=result.result.length %></h4>
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Total Pages</th>
                    <th>Rating</th>
                    <th>ISBN</th>
                    <th>Date Published</th>
                    <th><a class="btn btn-sm btn-success" href="/create">Create book</a></th>
                </tr>
            </thead>
            
            <tbody>
                <% Array.from(result.result).forEach(book => { %> 
                    <tr>
                        <td><%= book.book_id %></td>
                        <td><%= book.title %></td>
                        <td><%= book.total_pages %></td>
                        <td><%= book.rating %></td>
                        <td><%= book.isbn %></td>
                        <td><%= book.published_date %></td>
                        <td class="d-print-none">
                            <a class="btn btn-sm btn-warning" href="/edit/<%= book.book_id %>">Edit</a>
                            <a class="btn btn-sm btn-danger" href="/delete/<%= book.book_id %>">Delete</a>
                          </td>
                    </tr>
                <% }); %>
            </tbody>

        </table>
    </div>
    <% } %>
<% } %>

<%- include("_footer") -%>   